{% extends wrapper_template %}
{% block content %}
<h2>Hello, {{ original_user }}.</h2>
<div style="margin: 0 auto;">
<h4>You are overriding as:</h4>
<h1 style="color:#ee5f5b;">{{ override_user }} </h1>

<form action="{% url 'userservice.views.support' %}" method="POST">
{% csrf_token %}
<input type="hidden" name="clear_override" value="1"/>
<button class="btn btn-danger" type="submit" value="Clear override">Clear Override</button>
</form>

</div>

<form action="{% url 'userservice.views.support' %}" method="POST">
{% csrf_token %}

<h4>Override as:</h4> 
<input type="text" name="override_as"> <br/>

<button class="btn btn-primary" type="submit">Submit</button>
{% if override_error_msg %}
<div><p style="color:#FF0000; font-weight:bold">{{ override_error_msg }}{{ override_error_username }}</p></div>
{% endif %}
</form>
{% endblock %}


